/* Additional custom styles if needed */
body {
    background-color: black !important;
}

code {
    background-color: var(--bs-dark);
    padding: 0.2rem 0.4rem;
    border-radius: 0.25rem;
}

.card {
    border-color: var(--bs-border-color);
}

.card-header {
    background-color: var(--bs-dark);
}
